{% extends 'base.html' %} {% block title %} Boggle! {% endblock %} {% block
content %}
<h1>Hello from index</h1>

<table>
	{% for row in session['board'] %}
	<tr>
		{% for letter in row %}
		<td>{{letter}}</td>
		{% endfor %}
	</tr>
	{% endfor %}
</table>

<div>
	<form action="#" method="get" id="boggle-guess">
		<div>
			<label for="guess">Guess</label
			><input
				type="text"
				name="guess"
				id="guess-input"
				placeholder="Guess a word..."
			/>
		</div>
		<button type="submit">Submit your guess!</button>
	</form>
</div>
{% endblock %}
